@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: auto;
   max-width: 2000px;
   min-height: 100vh;
}

.active-tab {
   position: relative;
   color: #1A243A;

   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      background-color: #4B40EE;
   }
}